# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Backend
DATABASE_DEV_URL=postgresql+asyncpg://<user>:<password>@db:5432/<db_name>
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Mail
MAIL_PASSWORD=
MAIL_FROM=
MAIL_USERNAME=

# Google OAuth
CLIENT_ID=
CLIENT_SECRET=
PROJECT_ID=
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_API_KEY=

# Frontend - Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PROJECT_ID=
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs

# Frontend - NextAuth
NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET=

# Frontend - API
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3000
